---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}

      <div class="list__item">
        <article class="archive__item">
          <p>
            {{ post.authors }}<br />
            <strong>{{ post.title }}</strong><br />
            <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}
          </p>
          <p>
            {% if post.paperurl %}<a href="{{ post.paperurl }}">Paper</a>{% endif %}
            {% if post.paperurl and post.pdfurl and post.pdfurl != "" %}&nbsp;|&nbsp;{% endif %}
            {% if post.pdfurl and post.pdfurl != "" %}<a href="{{ post.pdfurl }}">PDF</a>{% endif %}
          </p>
        </article>
      </div>

    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}

    <div class="list__item">
      <article class="archive__item">
        <p>
          {{ post.authors }}<br />
          <strong>{{ post.title }}</strong><br />
          <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}
        </p>
        <p>
          {% if post.paperurl %}<a href="{{ post.paperurl }}">Paper</a>{% endif %}
          {% if post.paperurl and post.pdfurl and post.pdfurl != "" %}&nbsp;|&nbsp;{% endif %}
          {% if post.pdfurl and post.pdfurl != "" %}<a href="{{ post.pdfurl }}">PDF</a>{% endif %}
        </p>
      </article>
    </div>

  {% endfor %}
{% endif %}
