---
layout: archive
title: "Presentations"
permalink: /talks/
author_profile: true
---

{% include base_path %}

{% for post in site.talks reversed %}

  <div class="list__item">
    <article class="archive__item">
      <p>
        <strong>{{ post.title }}</strong><br />
        {{ post.type }}, <em>{{ post.venue }}</em>, {{ post.location }}, {{ post.date | date: "%Y" }}
      </p>
      {% if post.excerpt %}
        <p>{{ post.excerpt | markdownify }}</p>
      {% endif %}
      {% if post.video_url %}
        <p><a href="{{ post.video_url }}">Watch presentation</a></p>
      {% endif %}
    </article>
  </div>

{% endfor %}
